In [604]:
from selenium import webdriver
from bs4 import BeautifulSoup
import requests as req
import pandas as pd
import scrapy
import csv
import numpy

In [605]:
resp = req.get("https://www.list.am/category/23?bid=76&price1=&price2=&crc=-1&_a27=0&_a2_1=0&_a2_2=0&_a1_1=0&_a1_2=0&_a15=0&_a28_1=0&_a28_2=0&_a13=0&_a16=0&_a17=0&_a23=0&_a22=0&n=0")

In [606]:
soup = BeautifulSoup(resp.content, 'lxml')

In [607]:
cars_div = soup.find_all("div", { "class" : "gl" })[1]

In [624]:
car_names = ["car name"]
car_prices = ["car price"]
car_links = ["car url"]
for car_as in cars_div.find_all("a"):
    name = car_as.find("div", {"class" : "l"})  
    price = car_as.find("div", {"class" : "p"}) 
    if not price: 
        car_prices.append("N/A")
    else:
        car_prices.append(price.text)               
    car_links.append("https://list.am"+car_as.get('href'))  
    car_names.append(name.text)

In [609]:
full_information_array = [car_names, car_prices, car_links]
#print(full_information_array)

In [610]:
list_for_csv = pd.DataFrame(full_information_array)

In [615]:
list_for_csv.T.to_csv('list.csv')

In [616]:
pd.read_csv('list.csv')

,Unnamed: 0,0,1,2
0,0,car name,car price,car url
1,1,"Toyota Camry, 2011 թ.","$12,500",https://list.am/item/10608614
2,2,"Toyota Alphard, 2007 թ.","$8,800",https://list.am/item/12848615
3,3,"Toyota Camry, 2014 թ. Poxanakum","$10,400",https://list.am/item/13167507
4,4,"Toyota Land Cruiser Prado, 2011 թ. (4. L MATOR...","$27,000",https://list.am/item/12734179
...,...,...,...,...
92,92,Toyota voxy,NaN,https://list.am/item/12873447
93,93,"Toyota Camry, 2010 թ.",NaN,https://list.am/item/12823171
94,94,Toyota alphard,NaN,https://list.am/item/13312251
95,95,"Toyota Camry, 2014 թ. POXANAKUM",NaN,https://list.am/item/13702934
96,96,"Toyota Corolla, 2011 թ. POXANAKUM",NaN,https://list.am/item/13680057