In [604]:
from selenium import webdriver
from bs4 import BeautifulSoup
import requests as req
import pandas as pd
import scrapy
import csv
import numpy

In [605]:
resp = req.get("https://www.list.am/category/23?bid=76&price1=&price2=&crc=-1&_a27=0&_a2_1=0&_a2_2=0&_a1_1=0&_a1_2=0&_a15=0&_a28_1=0&_a28_2=0&_a13=0&_a16=0&_a17=0&_a23=0&_a22=0&n=0")

In [606]:
soup = BeautifulSoup(resp.content, 'lxml')

In [607]:
cars_div = soup.find_all("div", { "class" : "gl" })[1]

In [608]:
car_names = ["car name"]
car_prices = ["car price"]
car_links = ["car url"]
for car_as in cars_div.find_all("a"):
        name = car_as.find("div", {"class" : "l"})         
        for price in car_as.find_all("div", { "class" : "p" }):
            #print("{0}: {1}".format("price", price.text))
            car_prices.append(price.text)       
        #price = car_as.find("div", { "class" : "p" })
        car_links.append("https://list.am"+car_as.get('href'))  
        car_names.append(name.text)

In [609]:
full_information_array = [car_names, car_prices, car_links]
#print(full_information_array)

In [610]:
list_for_csv = pd.DataFrame(full_information_array)

In [611]:
list_for_csv.to_csv('list.csv')

In [612]:
pd.read_csv('list.csv')

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,87,88,89,90,91,92,93,94,95,96
0,0,car name,"Toyota Camry, 2011 թ.","Toyota Alphard, 2007 թ.","Toyota Camry, 2014 թ. Poxanakum","Toyota Land Cruiser Prado, 2011 թ. (4. L MATOR...","Toyota Land Cruiser Prado, 2011 թ. 4.0 L (FUL)...","Toyota Camry, 2018 թ. POXANAKUM","Toyota Corolla, Camry 2008-2016 kgnem vtarvac","Toyota Tundra, 2009 թ. 5.7L 4x4 POXANAKUM",...,Toyota Camry SE sev salon Start stop,Pntrum em avtomeqena hoxataracqi het poxanakel...,Toyota alphard 2007,Toyota voxy 2008,Toyota ipsum,Toyota voxy,"Toyota Camry, 2010 թ.",Toyota alphard,"Toyota Camry, 2014 թ. POXANAKUM","Toyota Corolla, 2011 թ. POXANAKUM"
1,1,car price,"$12,500","$8,800","$10,400","$27,000","$27,000","$16,500","10,000 ֏","$25,999",...,"$8,700",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,car url,https://list.am/item/10608614,https://list.am/item/12848615,https://list.am/item/13167507,https://list.am/item/12734179,https://list.am/item/12734513,https://list.am/item/12510226,https://list.am/item/8361915,https://list.am/item/13099873,...,https://list.am/item/13163291,https://list.am/item/12496440,https://list.am/item/12564499,https://list.am/item/12404845,https://list.am/item/12345394,https://list.am/item/12873447,https://list.am/item/12823171,https://list.am/item/13312251,https://list.am/item/13702934,https://list.am/item/13680057